.intro {
  color: white;
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center;
}

.educationalBackground {
  padding: 30px;
  border: 1px solid rgba(62, 229, 229, 0.9);
  box-shadow: -5px -5px 5px;
}

.wrapEducationBackground {
  display: flex;
  color: white;
  justify-content: space-around;
  padding-bottom: 5vh;
  
}

.wrapEducationBackground h2{
  text-align: center;
  color:  rgba(62, 229, 229, 0.9);
  box-shadow: -5px -5px 5px;
}
